{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Contact Messages{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">Contact Messages</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Date Sent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ message.name }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.created_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
