{% extends 'admin_base.html' %}

{% block title %}{{ action }} FAQ{% endblock %}

{% block content %}
  <h2>{{ action }} FAQ</h2>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label for="id_question" class="form-label">Question</label>
      <input type="text" name="question" class="form-control" id="id_question" value="{{ form.question.value|default_if_none:'' }}">
      {{ form.question.errors }}
    </div>

    <div class="mb-3">
      <label for="id_answer" class="form-label">Answer</label>
      <textarea name="answer" class="form-control" id="id_answer" rows="4">{{ form.answer.value|default_if_none:'' }}</textarea>
      {{ form.answer.errors }}
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">{{ action }} FAQ</button>
      <a href="{% url 'admin_view_faqs' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
{% endblock %}
