{% extends 'base.html' %}

{% block content %}
<!-- Blog Detail Start -->
<div class="blog-detail">
    <div class="container">
        <div class="section-header text-center">
            <p>{{ blog.category }}</p>
            <h2>{{ blog.title }}</h2>
            <div class="meta">
                <i class="fa fa-user"></i> {{ blog.author }} &nbsp;|&nbsp;
                <i class="fa fa-calendar-alt"></i> {{ blog.publish_date|date:"F j, Y" }}
            </div>
        </div>

        <div class="row mt-4">
            <!-- Main blog content -->
            <div class="col-lg-8">
                <div class="blog-img text-center mb-4">
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid rounded" style="width: 100%; height: auto; max-height: 500px; object-fit: cover;">
                </div>

                <div class="blog-content">
                    <p>{{ blog.content|linebreaks }}</p>
                </div>

                <div class="back-btn text-center mt-5">
                    <a href="{% url 'blog' %}" class="btn btn-primary">← Back to Blog</a>
                </div>
            </div>

            <!-- Recent blogs sidebar -->
            <div class="col-lg-4">
                <div class="recent-blogs p-3 border rounded">
                    <h4>Recent Blogs</h4>
                    <ul class="list-unstyled">
                        {% for recent_blog in recent_blogs %}
                        <li class="mb-3">
                            <a href="{% url 'blog_detail' recent_blog.slug %}" class="text-decoration-none">
                                {{ recent_blog.title }}
                            </a>
                            <br>
                            <small class="text-muted">{{ recent_blog.publish_date|date:"M j, Y" }}</small>
                        </li>
                        {% empty %}
                        <li>No recent blogs found.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Detail End -->
{% endblock %}
