{% extends 'base.html' %}
{% load static %}
{% block title %}Book Now{% endblock %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-success text-white">
                    <h3>Booking Successful!</h3>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <p class="list-group-item">
                            <strong>Name: </strong> {{ customer.name }}
                        </p>
                        <p class="list-group-item">
                            <strong>Email: </strong> {{ customer.email }}
                        </p>
                        <p class="list-group-item">
                            <strong>Phone: </strong> {{ customer.phone }}
                        </p>
                        <p class="list-group-item">
                            <strong>Service Plan: </strong> {{ customer.plan.name }}
                        </p>
                        <p class="list-group-item">
                            <strong>Booking Date: </strong> {{ customer.booking_date }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}