{% extends "base.html" %}
{% load static %}

{% block title %}Our Services{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'home' %}">Home</a>
                <a href="#">Our Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>Provide Services Worldwide</h2>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item w-100 h-100 d-flex flex-column justify-content-between">
                    <img src="{{ service.image.url }}" alt="Service" class="card-img-top fixed-img">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description|truncatewords:25 }}</p>
                    <a class="btn btn-primary" href="{% url 'services_detail' service.slug %}">Read More</a>
                </div>
</div>

            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-header left">
                    <p>Why Choose Us</p>
                    <h2>Expert Cleaners and World Class Services</h2>
                </div>
                <p>
                    We are committed to providing exceptional cleaning services with trained professionals, reliable service, and top-quality products. Our goal is your complete satisfaction, every time.
                </p>
            </div>
            <div class="col-md-7">
                {% for feature in features %}
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="{{ feature.image.url }}" alt="{{ feature.title }}">
                    </div>
                    <div class="col-7">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

{% endblock %}
